<h1>Brainiac#index</h1>
<p>Find me in app/views/brainiac/index.html.erb</p>

<%= link_to 'New Quiz', new_quiz_path %><br /><br />
<%= link_to 'View all Quizzes', quizzes_path %>

<br />

<%= link_to 'Take Quiz', takeQuiz_path %>
 
