<!DOCTYPE html>
<html>
<head>
  <title>Brainiac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<style>
	.main_options table{
		background-color: #eee;
	}

</style>

</body>
</html>
